@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	background-color: rgb(49, 60, 44);
	font-family: 'Quantico', sans-serif;
	font-weight: 400;
	font-style: normal;
}
