$padding: 0.5rem;
$borderColor: #f0f0f0;
$border: 1px solid #{$borderColor};
$gap: #{$padding};
$borderRadius: 0.1rem;
$borderRadiusHover: 0.3rem;
$greenColor: rgb(49, 60, 44);
$lightGreenColor: rgb(54, 60, 44);

.page {
	padding: $padding;

	h1 {
		text-align: center;
		color: #f0f0f0;
	}

	.main {
		display: grid;
		gap: $gap;
	}
}

.count-form {
	display: grid;
	gap: $gap;
	margin: 0 auto;
	width: 100%;

	@media screen and (min-width: 769px) {
		grid-template-columns: repeat(5, 1fr);
	}

	label {
		color: #f0f0f0 !important;
		font-weight: bold;
	}

	.ant-form-item {
		margin-bottom: 0;
		font-weight: bold;

		.ant-input-number-input {
			border-radius: $borderRadius;
			text-align: center;
			font-weight: bold;
		}

		button {
			font-weight: bold;
		}
	}
}

.ant-list-items {
	display: grid;
	gap: $gap;

	.item-category {
		display: grid;
		gap: $gap;

		.item-title {
			font-size: 1.5rem;
			font-weight: bold;
			color: #f0f0f0;
			text-align: center;
		}

		.items-container {
			display: grid;
			gap: $gap;

			@media screen and (min-width: 769px) {
				grid-template-columns: repeat(3, 1fr);
			}

			.item-container {
				display: grid;
				grid-template-columns: 100px 1fr;
				gap: $gap;
				border: $border;
				background-color: #f0f0f0;
				border-radius: $borderRadius;
				overflow: hidden;
				align-items: center;
				padding: 0 $padding 0 0;
				align-items: center;

				&:hover {
					cursor: pointer;
					background-color: $borderColor;
					transition: all 0.3s ease;
					opacity: 0.8;
					border-radius: $borderRadiusHover;

					img {
						filter: grayscale(100%);
					}
				}

				.item-image-container {
					display: grid;
					justify-content: center;
					align-items: center;

					.item-image {
						max-width: 100%;
						max-height: 100%;
						object-fit: contain;
						padding: 0.5rem;
					}
				}
			}
		}
	}
}

.native-notification {
	top: $padding;
	right: $padding;

	position: fixed;
	background-color: $lightGreenColor;
	color: white;
	padding: $padding;
	border-radius: $borderRadiusHover !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 1;
	transition:
		opacity 0.5s ease,
		transform 0.5s ease;
	display: grid;
	gap: $gap;

	@media screen and (max-width: 768px) {
		top: $padding;
		right: $padding;
		left: $padding;
	}

	@media screen and (min-width: 769px) {
		width: 500px;
	}
}

.native-notification.fade-out {
	opacity: 0;
	transform: translateY(-20px);
}

.native-notification-content {
	display: grid;
	align-items: center;
	gap: 0.5rem;
	grid-template-columns: 50px auto;
}

.native-notification-content img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.history-section {
	section {
		font-size: 1.5rem;
		font-weight: bold;
		color: #f0f0f0;
		text-align: center;
		margin-bottom: $gap;
	}

	.ant-list-items {
		display: grid;
		gap: $gap;

		.ant-list-item {
			background-color: #f0f0f0;
			border: $border;
			border-radius: $borderRadius;
			padding: $padding;
			font-weight: bold;
			color: $greenColor;

			&:hover {
				background-color: $borderColor;
				transition: all 0.3s ease;
				opacity: 0.8;
			}
		}
	}
}
