$padding: 0.5rem;
$borderColor: #f0f0f0;
$border: 1px solid #{$borderColor};
$gap: #{$padding};
$borderRadius: 0.1rem;
$borderRadiusHover: 0.3rem;

.page {
	padding: $padding;

	h1 {
		text-align: center;
		color: #f0f0f0;
	}

	.main {
		display: grid;
		gap: $gap;
	}
}

.count-form {
	display: grid;
	gap: $gap;
	margin: 0 auto;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;

	label {
		color: #f0f0f0 !important;
		font-weight: bold;
	}

	.ant-form-item {
		margin-bottom: 0;

		.ant-input-number-input {
			border-radius: $borderRadius;
		}
	}
}

.ant-list-items {
	display: grid;
	gap: $gap;

	.item-category {
		display: grid;
		gap: $gap;

		.item-title {
			font-size: 1.5rem;
			font-weight: bold;
			color: #f0f0f0;
			text-align: center;
		}

		.items-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $gap;

			.item-container {
				display: grid;
				grid-template-columns: repeat(2, auto);
				gap: $gap;
				border: $border;
				background-color: #f0f0f0;
				border-radius: $borderRadius;
				overflow: hidden;

				&:hover {
					cursor: pointer;
					background-color: $borderColor;
					transition: all 0.3s ease;
					opacity: 0.8;
					// size increase on hover
					// transform: scale(1.02);
					border-radius: $borderRadiusHover;

					img {
						filter: grayscale(100%);
					}
				}
			}
		}
	}
}

.native-notification {
	position: fixed;
	top: 20px;
	right: 20px;
	// background-color: #4caf50;
	background-color: rgb(49, 60, 44);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 1;
	transition:
		opacity 0.5s ease,
		transform 0.5s ease;
}

.native-notification.fade-out {
	opacity: 0;
	transform: translateY(-20px);
}
